.container{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login-card{

width:430px;

padding:45px;

background:white;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.2);

text-align:center;

animation:slide .8s;

}

.logo{

width:90px;

margin-bottom:20px;

}

.login-card h1{

color:#4F46E5;

margin-bottom:10px;

}

.login-card p{

color:#777;

margin-bottom:25px;

}

.input-box{

display:flex;

align-items:center;

background:#F5F7FF;

padding:14px;

border-radius:12px;

margin:18px 0;

}

.input-box i{

margin-right:10px;

color:#4F46E5;

}

.input-box input{

border:none;

outline:none;

width:100%;

background:none;

font-size:16px;

}

button{

width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:12px;

background:#4F46E5;

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#4338CA;

transform:translateY(-3px);

}

.signup{

margin-top:20px;

}

.signup a{

text-decoration:none;

color:#4F46E5;

font-weight:600;

}

@keyframes slide{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}
.checkbox{

display:flex;

align-items:center;

margin-top:15px;

margin-bottom:20px;

font-size:14px;

color:#555;

}

.checkbox input{

width:18px;

height:18px;

margin-right:10px;

cursor:pointer;

}
.login-btn{

display:block;

width:100%;

padding:15px;

background:#4F46E5;

color:white;

text-align:center;

text-decoration:none;

border-radius:12px;

font-weight:600;

margin-top:20px;

transition:.3s;

}

.login-btn:hover{

background:#4338CA;

transform:translateY(-3px);

}