@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{

--primary:#4F46E5;
--secondary:#7C3AED;
--success:#10B981;
--danger:#EF4444;
--warning:#F59E0B;
--light:#F4F7FF;
--white:#ffffff;
--text:#1E293B;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}

body{

background:linear-gradient(
135deg,
#4F46E5,
#7C3AED,
#9333EA);

min-height:100vh;

}